# SPDX-FileCopyrightText: 2019 knilch <knilch0r@cwde.de>
#
# SPDX-License-Identifier: CC0-1.0

# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.exe
*.out
*.app

# coverage data
*.gcda
*.gcno

# our binaries
cpptest
cpptest-glibc
ctest
ctest-glibc
threadtest

